@charset "utf-8";
/**CSS Reset 开始**/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/**CSS Reset 结束**/


/**公共样式开始**/
body, th, td, button, input, select, textarea {
    font: 12px/1.62 "Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif;
    color: #333;
}

ol, ul, dl {
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
}

a {
    text-decoration: none;
    outline: none;
    blr: expression(this.onFocus=this.blur());
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

.left, .l {
    float: left;
}

.right, .r {
    float: right;
}

.clearfix, .cf {
    *zoom: 1;
}

    .clearfix:after, .cf:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

.clear, .cl {
    clear: both;
}
/**公共样式开结束**/
/*顶部导航*/
.head {
    width: 100%;
    height: 70px;
    background:#1b0f35 url('../Images/bg/head_bg.jpg') center center no-repeat;
    color: #fff;
    box-shadow: 2px 2px 2px #B8C8D2;
}

    .head a {
        color: #fff;
    }

.headlogo {
    width: 187px;
    height:70px;
    line-height:70px;
    text-align: center;
}

.head .headnav li {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}

    .head .headnav li a {
        display: block;
        width: 70px;
        padding: 35px 0 5px 0;
        background: #35404D url('../Images/bg/ico_bg.png') no-repeat;
        text-align: center;
        border-radius: 5px;
        box-shadow: 1px 1px 1px #B8C8D2;
    }

.head .headnav li#menu_0 a {
    background-position: center -95px;
}
.head .headnav li#menu_1 a {
    background-position: center -195px;
}
.head .headnav li#menu_2 a {
    background-position: center -295px;
}
.head .headnav li#menu_3 a {
    background-position: center -395px;
}
.head .headnav li.current-menu a {
    width: 120px;
    background-color:#fc8606;
}
.head .headnav li a:hover {
    background-color: #fc8606;
}
.headlink {
    margin: 30px 20px 0 0;
}
.headlink li {
    float: left;
    margin-left: 15px;
}
    .headlink li a {
        padding-left: 20px;
        background: url('../Images/bg/main_link_ico.png') no-repeat;
    }
.headlink li#link_0 a {
    background-position: 0 0;
}
.headlink li#link_1 a {
    background-position: 0 -150px;
}
.headlink li#link_2 a {
    background-position: 0 -50px;
}
.headlink li#link_3 a {
    background-position: 0 -190px;
}
.headlink li#link_4 a {
    background-position: 0 -100px;
}
/*顶部导航结束*/

/*左侧导航开始*/
.leftmenu {
    width: 187px;
    position: absolute;
    top: 72px;
    left: 0;
    bottom: 0;
    z-index: 99;
    background: url('../Images/bg/left_bg.jpg') repeat-y;
    overflow-x: hidden;
    overflow-y: auto;
}
    .leftmenu dl dt {
        width: 187px;
        height: 28px;
        line-height: 28px;
        text-indent: 5px;
        font-weight: bold;
        color: #fff;
        font-size: 14px;
        background: #2A3542 url('../Images/bg/ico_small.png') right 12px no-repeat;
        cursor: pointer;
    }
    .leftmenu dl dd ul li {
    width: 170px;
    float: right;
    height: 26px;
    line-height: 26px;
    text-indent: 10px;
        padding: 1px 0;
}
.leftmenu dl dd ul {
    padding: 8px 0;
   
}
.leftmenu dl dd ul li a {
    width: 169px;
    height: 24px;
    line-height: 24px;
    display: block;
    background: #EDFBFF;
    margin-left: 20px;
     border-radius: 2px;
     box-shadow: 1px 1px 1px #B8C8D2;
    color: #333;
}
.leftmenu dl dd ul li a:hover {
    color: #009beb;
    border-top: 1px solid #B8C8D2;
    border-left: 1px solid #B8C8D2;
    border-bottom: 1px solid #B8C8D2;
}
.leftmenu dl dd ul li a.current-menuleft {
    background: #fff url(../img/ico_small.png) right -90px no-repeat;
    font-weight: bold;
    border-top: 1px solid #B8C8D2;
    border-left: 1px solid #B8C8D2;
    border-bottom: 1px solid #B8C8D2;
}
/*公共样式开始*/
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.btn {
    padding: 3px 15px;
    border: 0;
}
.btn-blue {
    background: #0D9AE4;
    color: #fff;
    cursor: pointer;
}
.btn-blue:hover {
    background: #0084C9;
}
.table {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.table tr {
    border-bottom:1px solid #ccc;
}
.table tr:hover {
    background: #eee;
}
.table th {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
    background: #eee;
}
.table td {
    height: 35px;
    line-height: 35px;
}
.page {
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
/*公共样式结束*/
/*----------------button样式--------------------------------------------------------*/
.button {
	display: inline-block;
	position: relative;
	margin: 10px;
	padding: 0 20px;
	text-align: center;
	text-decoration: none;
	font: bold 12px/25px Arial, sans-serif;

	text-shadow: 1px 1px 1px rgba(255,255,255, .22);

	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;

	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);

	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	-ms-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
/* Green Color */

.green {
	color: #3e5706;

	background: #a5cd4e; /* Old browsers */
	background: -moz-linear-gradient(top,  #a5cd4e 0%, #6b8f1a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); /* IE10+ */
	background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); /* W3C */
}

/* Blue Color */

.blue {
	color: #19667d;

	background: #70c9e3; /* Old browsers */
	background: -moz-linear-gradient(top,  #70c9e3 0%, #39a0be 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#70c9e3), color-stop(100%,#39a0be)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* IE10+ */
	background: linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* W3C */
}

/* Gray Color */

.gray {
	color: #515151;

	background: #d3d3d3; /* Old browsers */
	background: -moz-linear-gradient(top,  #d3d3d3 0%, #8a8a8a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(100%,#8a8a8a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* IE10+ */
	background: linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* W3C */
}
/*----------------button样式结束--------------------------------------------------------*/